.wrapper-lg
  .h1 View Upstream
  a.text-primary.text-u-l.pull-right.m-l-xs(ui-sref='priorityNumbers.list') Show List
  a.text-primary.text-u-l.pull-right.m-l-xs(ui-sref='priorityNumber.edit($ctrl.$stateParams)') Edit Group
  hr
  .row
    .col-md-6.col-sm-12.col-xs-12
      label.text-xs.text-muted Name
      .text-md.text-black(ng-bind='$ctrl.data.name')
    .col-md-6.col-sm-12.col-xs-12
      .form-group
        label.text-xs.text-muted Provider
        .text-md.text-black(ng-bind='$ctrl.data.provider')
