.wrapper
  .padder-v.h3 {{$ctrl.$stateParams.id ? "Edit" : "Add"}} SenderId
  a.text-primary.text-u-l.pull-right.m-l-xs(ui-sref='senderIds.list') Show List
  a.text-primary.text-u-l.pull-right.m-l-xs(ng-if='$ctrl.$stateParams.id' ui-sref='senderId.view($ctrl.$stateParams)') View SenderId
  .b-b.b-gray.m-b-md.m-t-md
  form.form.form-validation(name='form' ng-submit='$ctrl.submit();')
    .row
      .col-md-6.col-sm-12.col-xs-12
        .form-group
          label(for='name') Name
          input#name.form-control(type='text', placeholder='Name' name='name' required ng-model='$ctrl.data.name' ng-pattern="/[a-z \']$/i")
      .col-md-6.col-sm-12.col-xs-12
        .form-group
          label(for='provider') Provider
          input#provider.form-control(type='text', placeholder='Provider Name' required ng-model='$ctrl.data.provider' ng-pattern='/[a-z0-9 -]$/i')
    .row
      .col-xs-12
        button.btn.btn-success(type='submit' ng-disabled='form.$invalid')
          span(ng-if='!$ctrl.ui.loading') Submit
          span(ng-if='$ctrl.ui.loading') Submitting...
