.wrapper-lg
  .h1 View User
  a.text-primary.text-u-l.pull-right.m-l-xs(ui-sref='users.list') Show List
  a.text-primary.text-u-l.pull-right.m-l-xs(ui-sref='user.edit($ctrl.$stateParams)') Edit Upstream
  a.text-primary.text-u-l.pull-right.m-l-xs(ui-sref='user.credits.new($ctrl.$stateParams)') Add Credit
  a.text-primary.text-u-l.pull-right.m-l-xs(ui-sref='user.credits.list($ctrl.$stateParams)') View Credits
  a.text-primary.text-u-l.pull-right.m-l-xs(ui-sref='user.balances.new($ctrl.$stateParams)') Add Balance
  a.text-primary.text-u-l.pull-right.m-l-xs(ui-sref='user.balances.list($ctrl.$stateParams)') View Balance
  hr
  .col-md-6.col-sm-12.col-xs-12(ng-repeat='(key, value) in $ctrl.data')
    label.text-xs.text-muted(ng-bind='key')
    .text-md.text-black(ng-bind='value')

