form.form.form-validation(name='notepadForm' ng-submit='$ctrl.sendSms()')
  .col-xs-12
    .wrapper-xs.text-xs.m-b-sm
      | Check on No. in phonebook
    .form-group
      label.text-xs
        textarea.form-control(rows='7' ng-model='$ctrl.contactsList' ng-change='$ctrl.saveContacts()')
    .wrapper-xs
      button.btm-sm.btn.btn-primary.text-u-c.m-r-xs(type='submit') Send SMS
      a.btm-sm.btn.btn-default.text-u-c(ng-click='$ctrl.contactsList = ""') Clear
    .wrapper-xs.text-xs
      | Save anything temporary
    .form-group
      label
        textarea.form-control(rows='7' ng-model='$ctrl.tempText' ng-change='$ctrl.saveTemp()')

