.col-xs-12.wrapper-md
  .col-xs-3
    .input-group
      input.form-control()
      .input-group-addon()
        i.fa.fa-search
  .col-xs-2
    select.form-control()
  .col-xs-2
    select.form-control()
  .col-xs-2
    select.form-control()
  .col-xs-2
    select.form-control()

.col-xs-4.wrapper-md
  table.table.b-a
    tr
      td: b Status
      td: b Count
    tr
      td Delivered
      td 3
    tr
      td Ndnc
      td 2

.col-xs-12.wrapper-md
  table.table.table-stripped
    thead
      tr
        td: b Sent
        td: b Campaign
        td: b Message
        td: b Request
        td: b Details
        td: b Export
    tbody

