//- list
ul.nav
  li(ui-sref-active='active')
    a(ui-sref='water_ag.dashboard')
      i.fa.fa-dashboard
      span &nbsp;&nbsp;&nbsp;&nbsp;Dashboard
      i.my-icon
        i
    ul.nav.nav-sub.dk
      li.nav-sub-header
        a(ui-sref='app.dashboard')
          span Dashboard
  li(ui-sref-active='active' ng-repeat='menu in $ctrl.menus' ui-sref='{{menu.state}}')
    a(ui-sref='water_ag.branchs.list()')
      i.fa.fa-list-alt.icon
      span &nbsp;&nbsp;&nbsp;&nbsp;
      span(ng-bind='menu.name')
      i.my-icon
        i
