.app-footer.wrapper.b-t.bg-light(style="padding:15px 15px 0 !important;")
  span.pull-right
    a.m-l-sm.text-muted(href='', ui-scroll='app')
      i.fa.fa-angle-up.fa-3x(style=" position: relative;top: -8px;font-size: 35px;}")
  |     © MSGQue
