.container
  uib-tabset(active='activeForm')
    uib-tab(index='0', heading='Reports')
      report(name='reports')
    uib-tab(index='1', heading='Scheduled')
      report(name='scheduled')
    uib-tab(index='2', heading='Exports')
      .col-xs-12
        .col-xs-3
          h3 Weekly Reports
          table.table.table-stripped.table-bordered
            tr
              td Reports
              td Time
            tr(ng-if='!this.weekly')
              td(colspan='2') No record found
            tr(ng-if='this.weekly')
              td 20
              td datetime here
        h3 User Exports
        .col-xs-3
          table.table.table-stripped.table-bordered
            tr
              td Reports
              td Time
            tr(ng-if='!this.user')
              td(colspan='2') No record found
            tr(ng-if='this.user')
              td 20
              td datetime here
    uib-tab(index='3', heading='Send OTP')
      report(name='otp')
