.wrapper-lg
  .h1 View Upstream
  a.text-primary.text-u-l.pull-right.m-l-xs(ui-sref='groups.list') Show List
  a.text-primary.text-u-l.pull-right.m-l-xs(ui-sref='group.edit($ctrl.$stateParams)') Edit Group
  hr
  .row
    .col-md-6.col-sm-12.col-xs-12
      label.text-xs.text-muted Name
      .text-md.text-black(ng-bind='$ctrl.data.name')
    .col-md-6.col-sm-12.col-xs-12
      .form-group
        label.text-xs.text-muted Provider
        .text-md.text-black(ng-bind='$ctrl.data.provider')
  .row
    .col-md-6.col-sm-12.col-xs-12
      .form-group
        label.text-xs.text-muted Group Link
        .text-md.text-black(ng-bind='$ctrl.data.link')
    .col-md-6.col-sm-12.col-xs-12
      .form-group
        label.text-xs.text-muted Balance
        .text-md.text-black(ng-bind='$ctrl.data.balance')
  .row
    .col-md-6.col-sm-12.col-xs-12
      .form-group
        label.text-xs.text-muted Support Email
        .text-md.text-black(ng-bind='$ctrl.data.support')
    .col-md-6.col-sm-12.col-xs-12
      .form-group
        label.text-xs.text-muted Route type
        .text-md.text-black(ng-bind='$ctrl.routes[$ctrl.data.routeId - 1].name')
  .row
    .col-xs-12
      .form-group
        label.text-xs.text-muted Comment
        .text-md.text-black(ng-bind='$ctrl.data.comment')
  .row
    .col-xs-12
      .form-group
        label.text-xs.text-muted Group Activation Status
        .text-md.text-black(ng-bind='$ctrl.data.active ? "Active" : "Inactive"')
