.app#app(ng-class="{'app-header-fixed': $ctrl.app.settings.headerFixed,\
'app-aside-fixed': $ctrl.app.settings.asideFixed,\
'app-aside-folded': $ctrl.app.settings.asideFolded,\
'app-aside-dock': $ctrl.app.settings.asideDock,\
'container': $ctrl.app.settings.container}")
  //- navigation bar
  .app-header.navbar
    // navbar header
    .navbar-header(class='{{$ctrl.app.settings.navbarHeaderColor}}')
      button.pull-right.visible-xs.dk(ui-toggle-class='show', data-target='.navbar-collapse' ng-click='$ctrl.app.settings.mobileHeader = !$ctrl.app.settings.mobileHeader')
        i.fa.fa-cog
      button.pull-right.visible-xs(ui-toggle-class='off-screen', data-target='.app-aside', ui-scroll='app'
      ng-click='$ctrl.app.settings.offScreen = !$ctrl.app.settings.offScreen'
      )
        i.fa.fa-align-justify
      // brand
      a.navbar-brand.text-lt(ui-sref='home.list')
        i.fa.fa-btc
        span.hidden-folded.m-l-xs
          //&nbsp;{{$ctrl.company.name}}
          img(ng-src='{{$ctrl.company.logo}}', alt='{{$ctrl.company.name}}')



      // / brand
    // / navbar header
    // navbar collapse
    .collapse.pos-rlt.navbar-collapse.box-shadow(class='{{$ctrl.app.settings.navbarCollapseColor}}' ng-class="{ show: $ctrl.app.settings.mobileHeader }")
      // buttons
      .nav.navbar-nav.hidden-xs
        a.btn.no-shadow.navbar-btn(href='', ng-click='$ctrl.app.settings.asideFolded = !$ctrl.app.settings.asideFolded')
          i.fa.fa-fw(ng-class='$ctrl.app.settings.asideFolded ? "fa-indent": "fa-dedent"')
        a.btn.no-shadow.navbar-btn(href='', style="cursor: default")
          h1.m-n.font-normal.h4(ng-bind="$ctrl.Page.header()",style="display:inline-block")

      // / buttons
      // nabar right
      ul.nav.navbar-nav.navbar-right
        li.hide: a: i.fa.fa-lg.fa-comments

        li.dropdown(uib-dropdown='' ng-click='$ctrl.OTP.open()' ng-class="{ open: $ctrl.app.settings.mobileHeader }" ng-if="!$ctrl.OAuth.isAuthenticated()")
          a.dropdown-toggle.clear.text-center(href='', uib-dropdown-toggle='')
            span.hidden-sm Login/Signup
        li.dropdown(uib-dropdown='' ng-class="{ open: $ctrl.app.settings.mobileHeader }" ng-if="$ctrl.OAuth.isAuthenticated()")
          a.dropdown-toggle.clear.text-center(href='', uib-dropdown-toggle='')
            span.hidden-sm {{$ctrl.user.name}}
            span.pull-right
              b.caret.m-r-xs.m-l-xs
              i.fa.fa-lg.fa-user

          //- dropdown
          ul.dropdown-menu.animated.fadeInRight.w
            li.hide
              a(ui-sref='help')
                span.label.bg-info.pull-right new
                | Help
            li(ng-if='$ctrl.user.admin')
              a(ui-sref='user.add') Add User
            li
              a(ui-sref='user.profile') Profile
            li.hide.divider
            //li
              a(ui-sref='access.password_reset') Change Password
            li
              a(ng-click='$ctrl.logout()') Logout
          // / dropdown
      // / navbar right
    // / navbar collapse
  .app-aside.hidden-xs(class='{{$ctrl.app.settings.asideColor}}')
    .aside-wrap
      //
        if you want to use a custom scroll when aside fixed, use the slimScroll
        <div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">
      .navi-wrap
        // user
        //#aside-user.clearfix.hidden-xs.text-center
          .dropdown.wrapper(dropdown='')
            a(ui-sref='app.page.profile')
              span.thumb-lg.w-auto-folded.avatar.m-t-sm
                h1 {{ App.biz.short }}
                //img.img-full(src='img/a0.jpg', alt='...')
            a.dropdown-toggle.hidden-folded(href='')
              //dropdown-toggle=''
              span.clear
                span.block.m-t-sm
                  strong.font-bold.text-lt {{App.biz.name}}
                  //b.caret
                span.text-muted.text-xs.block {{App.biz.mobile}}
            // dropdown
            ul.dropdown-menu.animated.fadeInRight.w.hidden-folded
              //li.wrapper.b-b.m-b-sm.bg-info.m-t-n-xs
                span.arrow.top.hidden-folded.arrow-info
                div
                  p 300mb of 500mb used
                progressbar.progress-xs.m-b-none.dker(value='60', type='white')
              li
                a(href='') Settings
              li
                a(ui-sref='app.page.profile') Profile
              //li
                a(href='')
                  span.badge.bg-danger.pull-right 3
                  |               Notifications
              //li.divider
              //li
                a(ui-sref='access.signin') Logout
            // / dropdown
          .line.dk.hidden-folded
        navigation
  .app-content
    div(ui-butterbar='')
    a.off-screen-toggle.hide(href='', ui-toggle-class='off-screen', data-target='.app-aside')
    .app-content-body.fade-in-up(ui-view='')

