.app(ng-class='$ctrl.appClass')
  //- navigation bar
  .app-header.navbar
    // navbar header
    .navbar-header(class='{{$ctrl.app.settings.navbarHeaderColor}}')
      button.pull-right.visible-xs.dk(ui-toggle-class='show', data-target='.navbar-collapse' ng-click='$ctrl.app.settings.mobileHeader = !$ctrl.app.settings.mobileHeader')
        i.fa.fa-cog
      //button.pull-right.visible-xs(ui-toggle-class='off-screen', data-target='.app-aside', ui-scroll='app')
      //  i.fa.fa-align-justify
      // brand
      a.navbar-brand(ui-sref='home.list')
        //span.hidden-folded-small.m-l-xs
        //  //img(src='assets/images/bbi.png', alt='')
        //  span.text-info.dker MSG&nbsp;
        //  span.text-white Que
        span.hidden-folded.m-l-xs
          //img(src='/assets/images/logo.png', alt='{{$ctrl.name}}')
          span.text-info.dker &nbsp;MSG&nbsp;
          span.text-white &nbsp;Que

      // / brand
    // / navbar header
    // navbar collapse
    .collapse.pos-rlt.navbar-collapse.box-shadow(class='{{$ctrl.app.settings.navbarCollapseColor}}' ng-class="{ show: $ctrl.app.settings.mobileHeader }")
      // buttons
      //.nav.navbar-nav.hidden-xs
        a.btn.no-shadow.navbar-btn(href='', ng-click='$ctrl.app.settings.asideFolded = !$ctrl.app.settings.asideFolded')
          i.fa.fa-fw.fa-dedent
          i.fa.fa-fw.fa-indent.hide
        a.btn.no-shadow.navbar-btn(href='', style="cursor: default")
          h1.m-n.font-normal.h4(ng-bind="$ctrl.Page.header()",style="display:inline-block")

      // / buttons
      // nabar right
      ul.nav.navbar-nav.navbar-right
        li.hide: a: i.fa.fa-lg.fa-comments

        li.dropdown(uib-dropdown='' ng-click='$ctrl.OTP.open()' ng-class="{ open: $ctrl.app.settings.mobileHeader }" ng-if="!$ctrl.OAuth.isAuthenticated()")
          a.dropdown-toggle.clear.text-center(href='', uib-dropdown-toggle='')
            span.hidden-sm Login/Signup
        li.dropdown(uib-dropdown='' ng-class="{ open: $ctrl.app.settings.mobileHeader }" ng-if="$ctrl.OAuth.isAuthenticated()")
          a.dropdown-toggle.clear.text-center(href='', uib-dropdown-toggle='')
            span.hidden-sm {{$ctrl.user.name}}
            span.pull-right
              b.caret.m-r-xs.m-l-xs
              i.fa.fa-lg.fa-user

          //- dropdown
          ul.dropdown-menu.animated.fadeInRight.w
            li.hide
              a(ui-sref='help')
                span.label.bg-info.pull-right new
                | Help
            li.hide.divider
            //li
              a(ui-sref='access.password_reset') Change Password
            li
              a(ng-click='$ctrl.logout()') Logout
          // / dropdown
      // / navbar right
    // / navbar collapse

  .app-aside.hidden-xs(class='{{$ctrl.app.settings.asideColor}}')
    aside-menu

      //ul.nav.navbar-nav.navbar-right
      //  li.dropdown(ng-hide="$ctrl.OAuth.isAuthenticated()")
      //    a(type='button'  )
      //
      //  li.dropdown(uib-dropdown='' ng-show="!$ctrl.OAuth.isAuthenticated()")
      //    a.no-hv.dropdown-toggle.clear.text-white(href='', uib-dropdown-toggle='' ng-click='$ctrl.OTP.open()')
      //      span.fa.fa-sign-in
      //      | &nbsp;&nbsp;Log In / Signup
      //  li.dropdown(uib-dropdown='' ng-show="$ctrl.OAuth.isAuthenticated()" )
      //    a.no-hv.dropdown-toggle.clear.text-white(href='', uib-dropdown-toggle='')
      //      span.hidden-sm.hidden-md {{$ctrl.user.name}}
      //      b.caret.m-r-xs.m-l-xs
      //      i.fa.fa-lg.fa-user

          //- dropdown
          ul.dropdown-menu.animated.fadeInRight.w
            li
              a(ng-href='{{$ctrl.settings.changePassword}}') Change Password
            li.divider
            li
              a(ng-click='$ctrl.logout()') Logout

  .app-content
    div(ui-butterbar='')
    a.off-screen-toggle.hide(href='', ui-toggle-class='off-screen', data-target='.app-aside')
    .app-content-body.fade-in-up(ui-view='')
