.aside-wrap: .navi-wrap
  // user
  #aside-user.clearfix.hidden-xs.text-center.hide
  ul.nav.hide
    li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
      span Navigation
    li.text-white(ui-sref-active='active'): a(ui-sref='app.admin-dashboard')
      i.fa.fa-dashboard.icon
      span Admin Dashboard

