.panel.panel-default.m-t-sm
  .panel-body
    .col-md-8
      .panel
        .panel-heading
          .col-xs-12
            .col-xs-4 Name
            .col-xs-1 :
            .col-xs-7(ng-bind='$ctrl.senderId.name')
          .col-xs-12
            .col-xs-4 Company
            .col-xs-1 :
            .col-xs-7(ng-bind='$ctrl.senderId.company')
          .col-xs-12
            .col-xs-4 Status
            .col-xs-1 :
            .col-xs-7(ng-if='$ctrl.senderId.status === null') Awaiting Approval
            .col-xs-7(ng-if='$ctrl.senderId.status === true') Approved
            .col-xs-7(ng-if='$ctrl.senderId.status === false') Blocked
          .col-xs-12
            .col-xs-4 Created By
            .col-xs-1 :
            .col-xs-7(ng-bind='$ctrl.senderId.CreatedBy.name')
          .col-xs-12(ng-if='$ctrl.user.admin === 2')
            button.btn.btn-success(ng-click='$ctrl.approve(true)' ng-if='$ctrl.senderId.status === null || $ctrl.senderId.status === false') Approve
            button.btn.btn-danger.m-l-xs(ng-click='$ctrl.approve(false)' ng-if='$ctrl.senderId.status === null || $ctrl.senderId.status === true') Block
