.hbox.hbox-auto-xs.hbox-auto-sm
  .col
    // main header
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-sm-6.col-xs-12
          h1.m-n.font-thin.h3.text-black(ng-bind='$ctrl.header')
          a(ui-sref='users.list()')
            span.m-r.fa.fa-list
            | List
      .panel.panel-default.m-t-sm
        .panel-body
          .col-md-8
            .panel
              .panel-heading
                form.form(ng-submit='$ctrl.submit()' name='addUser')
                  .row.m-t-xs
                    input.form-control(placeholder='Name' ng-model='$ctrl.data.name' required)
                  .row.m-t-xs
                    input.form-control(type='number' placeholder='Mobile' ng-model='$ctrl.data.mobile' required)
                  .row.m-t-xs
                    input.form-control(type='email' placeholder='Email' ng-model='$ctrl.data.email')
                  .row.m-t-xs
                    input.form-control(type='password' placeholder='Password' ng-model='$ctrl.data.password')
                  .row.m-t-xs
                    input.form-control(placeholder='Support person name' ng-model='$ctrl.data.supportName')
                  .row.m-t-xs
                    input.form-control(type='number' placeholder='Support person mobile' ng-model='$ctrl.data.supportMobile')
                  .row.m-t-xs
                    input.form-control(type='email' placeholder='Support person email' ng-model='$ctrl.data.supportEmail')
                  .row.m-t-xs
                    input.form-control(placeholder='Login URL' ng-model='$ctrl.data.loginUrl')
                  .row.m-t-xs(ng-if='$ctrl.message' ng-bind='$ctrl.message')
                  .row
                  .row
                    button.m-t-xs.btn.btn-success(type='submit' ng-disabled='!addUser.$valid') Save
