.hbox.hbox-auto-xs.hbox-auto-sm
  .col
    // main header
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-xs-12
          h1.m-n.font-thin.h3.text-black Users
          a.pull-right(ui-sref='users.add()')
            span.m-r.fa.fa-pencil-square-o
            | Add User
    .wrapper-md
      .panel.panel-default
        .panel-heading
          | Footable - make HTML tables on smaller devices look awesome
        .panel-body.b-b.b-light
          | Search:
          input#filter.form-control.input-sm.w-sm.inline.m-r(type='text')
        div
          table.table.m-b-none.footable-loaded.footable.tablet.breakpoint(ui-jq='footable', data-filter='#filter', data-page-size='5')
            thead
              tr
                th.footable-visible.footable-sortable.footable-first-column(data-toggle='true')
                  | #
                  span.footable-sort-indicator
                th.footable-visible.footable-sortable
                  | Name
                  span.footable-sort-indicator
                th.footable-sortable(data-hide='phone,tablet', style='display: none;')
                  | Email
                  span.footable-sort-indicator
                th.footable-sortable(data-hide='phone,tablet', data-name='Date Of Birth', style='display: none;')
                  | Mobile
                  span.footable-sort-indicator
                th.footable-sortable(data-hide='phone,tablet', data-name='Date Of Birth', style='display: none;')
                  | Balance
                  span.footable-sort-indicator
                th.footable-visible.footable-sortable.footable-last-column(data-hide='phone')
                  | Status
                  span.footable-sort-indicator
            tbody
              tr.footable-even(style='display: table-row;' ng-repeat='item in $ctrl.items')
                td(ng-bind='item.id')
                td.footable-visible.footable-first-column
                  a(ui-sref='user.view({ id: item.id })' ng-bind='item.name')
                td.footable-visible(ng-bind='item.email')

                td(ng-bind='item.mobile')
                td(ng-bind='item.balance')
                td.footable-visible.footable-last-column(data-value='1')
                  span.label.bg-success(title='{{item.status}}' ng-bind='item.status')

            tfoot.hide-if-no-paging
              tr
                td.text-center.footable-visible(colspan='5')
                  ul.pagination
                    li.footable-page-arrow.disabled
                      a(data-page='first', href='#first') «
                    li.footable-page-arrow.disabled
                      a(data-page='prev', href='#prev') ‹
                    li.footable-page.active
                      a(data-page='0', href='#') 1
                    li.footable-page
                      a(data-page='1', href='#') 2
                    li.footable-page-arrow
                      a(data-page='next', href='#next') ›
                    li.footable-page-arrow
                      a(data-page='last', href='#last') »
