.wrapper
  .padder-v.h3 Add Plan
  a.text-primary.text-u-l.pull-right.m-l-xs(ui-sref='upstream.plans.list($ctrl.$stateParams)') Show List
  .b-b.b-gray.m-b-md.m-t-md
  form.form.form-validation(name='form' ng-submit='$ctrl.submit();')
    .row
      .col-md-6.col-sm-12.col-xs-12
        .form-plan
          label(for='count') Count
          input#count.form-control(type='number', placeholder='Count' name='count' required ng-model='$ctrl.data.count')
    .row
      .col-xs-12
        button.btn.btn-success(type='submit' ng-disabled='form.$invalid')
          span(ng-if='!$ctrl.ui.loading') Submit
          span(ng-if='$ctrl.ui.loading') Submitting ...
