.hbox.hbox-auto-xs.hbox-auto-sm.bg-white-only
  .wrapper
    .col
      form.form.col(name='addSenderId' ng-submit='$ctrl.submit()')
        .m-t-xs
          input.form-control(placeholder='Sender Id' ng-model='$ctrl.data.name' required)
        .m-t-xs
          input.form-control(placeholder='Company Name' ng-model='$ctrl.data.company' required)
        .m-t-xs
          textarea.form-control(placeholder='Sample Message' ng-model='$ctrl.data.message' required)
        .m-t-xs(ng-if='$ctrl.message' ng-bind='$ctrl.message')
        .center-block
          button.m-t-xs.btn.btn-success(type='submit' ng-disabled='!addSenderId.$valid') save
          button.m-t-xs.m-l-xs.btn.btn-error(ng-click='$ctrl.$uibModalInstance.dismiss()') Cancel
