.container.w-xxl.w-auto-xs

  .text-center.m-b-lg
    h1.text-shadow.text-white 404
    .h4.text-muted the page that you are looking for does not exist.

  .list-group.bg-info.auto.m-b-sm.m-b-lg
    a.list-group-item(ui-sref='user.list')
      i.fa.fa-chevron-right.text-muted
      i.fa.fa-fw.fa-mail-forward.m-r-xs
      | Goto application

  footer
